* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}


.sort,
.filter,
.filterCity {

  float: left;
  margin-right: 5px;
}


/* ---- isotope ---- */

.grid {
  border: 1px solid #333;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.grid-item {
  position: relative;
  float: left;
  width: 22%;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.grid-item > * {
  margin: 0;
  padding: 0;
}

.grid-item .datum-genre {
  position: absolute;
  left: 1px;
  top: 1px;
  font-size: 8px;
}


.grid-item .datum-city {
  position: absolute;

  left: 175px;
  top: 65px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.grid-item .datum-name {
  position: absolute;
  left: 2px;
  top: 18px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.grid-item .datum-distance {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 10px;
}

.grid-item .datum-venue {
  position: absolute;
  left: 175px;
  top: 81px;
  font-size: 6px;
}



.grid-item.rock          { background: #F00; background: hsl(   0, 100%, 50%); }
.grid-item.alternative  { background: #F80; background: hsl(  36, 100%, 50%); }
.grid-item.country     { background: #00F; background: hsl( 252, 100%, 50%); }
.grid-item.rap        { background: #0F0; background: hsl( 108, 100%, 50%); }
.grid-item.rb    { background: #0F8; background: hsl( 144, 100%, 50%); }
.grid-item.electronic { background: #0FF; background: hsl( 180, 100%, 50%); }
.grid-item.blueJazz      { background: #08F; background: hsl( 216, 100%, 50%); }
.grid-item.latin        { background: #F0F; background: hsl( 288, 100%, 50%); }



